<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>test browserify</title>
    <!--<script src="../../socket.io/socket.io.js"></script>-->
    <script src="/js/browserify/lib.js"></script>
</head>
<body>
<div id="view"></div>
{{{body}}}
</body>
</html>