<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>test browserify</title>
    <script src="/js/browserify/main.js"></script>
    <!--<script src="/js/libs/react/react.js"></script>-->
    <!--<script src="/js/libs/react/react-dom.js"></script>-->
</head>
<body>
<div id="view"></div>
{{{body}}}
</body>
</html>