<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Node Job Console</title>
    <link rel="stylesheet" href="js/libs/normalize-css/normalize.css">
    <link rel="stylesheet" href="js/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="js/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/browserify/lib.js"></script>
</head>
<body>
<div id="view">
</div>
{{{body}}}
</body>
</html>